<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Web Coding Challenge</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container" style="height: 100%;">

      <!--IF USER NOT SIGNED IN-->
      {% if not request.user.is_authenticated %}
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <!-- TEST IF SIGNUP OPERATION IS COMPLETED -->
              {% if not signup_complete %}
              <form method="POST"> {% csrf_token %}
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" name="email" class="form-control" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password" class="form-control" placeholder="Password" id="password" required>
                </div>
                {% if signup %}
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" class="form-control" placeholder="Re-type password" id="confirm_password" required>
                </div>
                <script>
                var password = document.getElementById("password")
                , confirm_password = document.getElementById("confirm_password");

                function validatePassword(){
                  if(password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords are not the same!");
                  } else {
                    confirm_password.setCustomValidity('');
                  }
                }

                password.onchange = validatePassword;
                confirm_password.onkeyup = validatePassword;
                </script>
                {% endif %}
                {% if not signup %}
                <button type="submit" class="btn btn-primary">Sign in</button>
                <a href="signup" class="btn btn-secondary">Sign up</a>
                {% else %}
                <button type="submit" class="btn btn-primary">Confirm</button>
                {% endif %}
              </form>
              {% else %}
              <p class="card-text">Sign Up completed</p>
              <a href="/" class="btn btn-primary">Go back</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <h1>Hello to the Shops</h1>
      <a href="signout" class="btn btn-primary">Sign out</a>
      {% endif %}
    </div>
  </body>

</html>
